header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;

    /* border: solid 5px green; */

}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: solid 10px red;  */

}

#nav_logo {
    font-size: 24px;
    color: var(--color-primary-6);

  /*  border: solid 10px black; */
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;

    /* border: solid 10px white;  */
    
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;

    /* border: solid 10px yellow;  */
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);

    /* border: solid 10px blue;  */
}

#mobile_btn {
    display: none;

    /* border: solid 10px blueviolet;  */

}

#mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0; /* Ajuste para mover o menu para o lado direito */
    width: 250px;
    height: 100%;
    background-color: var(--color-primary-1);
    z-index: 2;
}
#mobile_nav_list {
    padding-top: 60px; /* Ajuste conforme necessário */
    display: inline;
}

#mobile_nav_list .nav-item {
    list-style: none;
    margin-bottom: 20px; /* Ajuste conforme necessário */
}

#mobile_nav_list .nav-item a {
    text-decoration: none;
    color: var(--color-primary-6);
    font-size: 18px; /* Ajuste conforme necessário */
}

#mobile_nav_list .nav-item.active a {
    color: var(--color-neutral-1);
}

#mobile_btn {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 3;

    }

    #mobile_menu.active {
        display: block;
        background-color: #ebccc3;
        height: 100vh;
        position: fixed;

        /* border: solid 2px blue;  */
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        padding: 5% 10% 5% 10%;
        /* background-color: red;  */  

    }

    #mobile_nav_list .nav-item {
        margin-bottom: 0;
        color: #ffffff;
        text-align: right;
        align-items: top;
        padding: 10% 0% 10% 0% ;
        margin-top: 5%;

        /* border: solid 2px black;  */
    }

    #menu-mobile ul li a {

        color: white;
    }

    #mobile_nav_list .nav-item>:hover{
        color: black;
    }
}

